{% extends 'profiles/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Mi pobre home</title>
{% endblock %}


{% block content%}
<div class="jumbotron jumbotron-fluid">
  	<div class="container">
	      <h1 class="display-4">My Django Crash Curse!</h1>
	      <p class="lead">Simple Jumbotron con BS 4 :D </p>
	      <hr class="my-4">
	      <p>Bienvenido Usuario</p>
	      <a class="btn btn-primary btn-lg" href="{% url 'new_user' %}" role="button">Crear Usuario</a>
	</div>
</div>
{% endblock%}

